/*
Main Screen CSS
 */

#main {
    -fx-font-family: "Calibri";
    -fx-background-color: #D0BB61;
}

.button {
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-outline: none;
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #acacac;
}

#title {
    -fx-font-size: 25px;
    -fx-text-alignment: center;
    -fx-padding: 0px, 20px, 0px, 0px;

}

#messageText {
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-text-fill: #b00805;
}

#textBox {
    -fx-font-size: 18px;
    -fx-background-color: WHITE;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-border-radius: 0px;
    -fx-background-radius: 0;
    -fx-min-height: 34px;

}

#confirmButton {
    -fx-font-size: 18px;
    -fx-border-width: 0;
    -fx-alignment: top-left;
    -fx-outline: none;
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
}

#confirmButton:hover {
    -fx-background-color: #acacac;
}

#bottomPane {
    -fx-padding: 3px;
}

#textDescription {
    -fx-font-size: 18px;
    -fx-padding: 0px;
}

#bottomView {
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-max-width: 250px;
    -fx-padding: 15px;
    -fx-border-radius: 3px;
    -fx-background-color: #d9c575;
}

#hyperlinkBottom {
    -fx-font-fill: #000000;
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
}

#creditsButton:hover {
    -fx-background-color: lightgrey;
}

#creditsMainContent {
    -fx-padding: 5px;
}

#title {
    -fx-font-size: 30px;
    -fx-text-alignment: center;
}

#navMenu {
    -fx-background-color: #d9c575;
    -fx-padding: 5px;
}

#navMenuButton {
    -fx-border-radius: 10px;
}

/*
Credits CSS
 */
#upperPaneLeft {
    -fx-padding: 20px;
}

#upperPaneRight {
    -fx-padding: 10px 0px 0px 0px;
}

#creditsRoot {
    -fx-font-family: "Calibri";
    -fx-background-color: #D0BB61;
}

#summaryText {
    -fx-text-alignment: center;
    -fx-font-size: 18px;
    -fx-padding: 15px;
}

#creditsMain {
    -fx-font-size: 20px;
    -fx-border-width:2px;
    -fx-border-radius: 3px;
    -fx-border-color:black;
    -fx-border-style:solid;
    -fx-padding: 5px;
}

/*
Custom Dialog CSS
*/

#customDialog {
    -fx-background-color: #D0BB61;
    -fx-padding: 10px;
    -fx-font-size: 16px;
}

.myDialog{
    -fx-background-color: #D0BB61;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #D0BB61;
}

.myDialog > *.label.content{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #d9c575;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 25px;
    -fx-fill: #292929;
}

/*
Account Dialog CSS
 */

.accountDialog{
    -fx-background-color: #D0BB61;
}
.accountDialog > *.button-bar > *.container{
    -fx-background-color: #D0BB61;
}

.accountDialog > *.label.content{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.accountDialog:header *.header-panel{
    -fx-background-color: #d9c575;
}
.accountDialog:header *.header-panel *.label{
    -fx-font-size: 23px;
    -fx-fill: #292929;
}

#accountGrid {
    -fx-font-size: 16px;
}

#textField {
    -fx-font-size: 15px;
    -fx-background-color: WHITE;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-max-width: 300;
    -fx-border-radius: 0px;
    -fx-background-radius: 0;
    -fx-min-height: 20px;
}