#main {
    -fx-font-family: "Calibri";
    -fx-background-color: #D0BB61;
}

#title {
    -fx-font-size: 25px;
    -fx-text-alignment: center;
    -fx-padding: 0px, 20px, 0px, 0px;

}

#messageText {
    -fx-font-size: 18px;
    -fx-text-alignment: center;
    -fx-text-fill: #b00805;
}

#textBox {
    -fx-font-size: 18px;
    -fx-background-color: WHITE;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: #808080;
    -fx-alignment: top-left;
    -fx-max-width: 300;
    -fx-border-radius: 0px;
    -fx-background-radius: 0;
    -fx-min-height: 34px;

}

#confirmButton {
    -fx-font-size: 18px;
    -fx-border-width: 0;
    -fx-alignment: top-left;
    -fx-outline: none;
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
}

#confirmButton:hover {
    -fx-background-color: #acacac;
}

#bottomPane {
    -fx-padding: 3px;
}

#textDescription {
    -fx-font-size: 18px;
    -fx-padding: 0px;
}

#bottomView {
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-max-width: 250px;
    -fx-padding: 15px;
    -fx-border-radius: 3px;
    -fx-background-color: #d9c575;
}

#hyperlinkBottom {
    -fx-font-fill: #000000;
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
}

#creditsButton:hover {
    -fx-background-color: lightgrey;
}

#title {
    -fx-font-size: 30px;
    -fx-text-alignment: center;
}

#upperPaneLeft {

}

#summaryText {
    -fx-text-alignment: center;
    -fx-font-size: 18px;
    -fx-padding: 15px;
}

#creditsText {

}