#main {
    -fx-font-family: "Trebuchet MS";
}

#title {
    -fx-font-size: 30px;
    -fx-padding: 0px, 20px, 0px, 0px;

}

#messageText {
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}

#textBox {
    -fx-background-radius: 0px ;
    -fx-font-size: 18px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;

}

#confirmButton {
    -fx-font-size: 18px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#bottomPane {
    -fx-background-color: lightgrey;
    -fx-font-size: 18px;
    -fx-padding: 5px;

}
